@media only screen and (max-width:1520px){
    .navlist{
        flex-direction: column;
        height: 75%;
    }
    
    .navbar{
        flex-direction: column;
        height: 600px;
        transition: all 0.7s ease-out;
    }

    .logo{
        padding: 30px;
    }

    .rightnav{
        text-align: center;
        height: 74%;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }

    .burger{
        display: block;
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 15px;
    }

    .heightNav-resp{
        height: 100px;
    }
    
    .v-class-resp{
        opacity: 0;

    }

    .secLeft{
        flex-flow:wrap-reverse;
    }

    .secRight{
        flex-flow:wrap-reverse;
    }



}